.app-container {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #FFFFFF;
  position: relative;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

.caption-2 {
  font-size: 11px;
  line-height: 14px;
  color: #70737C;
}

* {
  box-sizing: border-box;
}